{% extends 'main/base.html' %} {% block content %}

<h1 class="title">What is <span class="is-italic">Moody Humans</span>?</h1>

<p>
  <span class="is-italic">Moody Humans</span> is (yet another) online mood
  tracker.
</p>

<br />
<p>
  You can use it to track your depressive symptoms, your mood and your
  self-esteem. Most importantly, you can easily upload your data to
  <a href="https://www.openhumans.org">Open Humans</a>.
</p>

<br />
<p>
  There are reliable measurement tools for each tracking goal:
  <a href="https://cesd-r.com/"
    >Center of Epidemiologic Studies Depression Scale Revised (CESD-R)</a
  >
  for tracking depressive symptoms,
  <a href="https://en.wikipedia.org/wiki/Positive_and_Negative_Affect_Schedule"
    >Positive and Negative Affect Schedule (PANAS)</a
  >
  for general mood tracking and
  <a href="https://en.wikipedia.org/wiki/Rosenberg_self-esteem_scale"
    >Rosenberg Self Esteem Scale (RSES)</a
  >
  for tracking self-esteem.
</p>

<br />
<p>
  <span class="has-text-weight-bold">Important:</span> If you ended up here
  because you are concerned about your mental health or if you have the feeling
  that you have been unhappy for too long, please seek professional help.
</p>

<br />
<p>
  Finally, please note that <span class="is-italic">Moody Humans</span> saves
  your data to its own servers before passing on to Open Humans.
</p>

{% endblock content %}
