{% load django_simple_bulma %} {% bulma %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Moody Humans</title>
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"
    ></script>
  </head>
  <body>
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="https://moodyhumans.herokuapp.com">
            Moody Humans
          </a>

          <!-- Burger has to be last child of navbar-brand according to Bulma docs -->
          <a
            role="button"
            class="navbar-burger"
            data-target="navMenu"
            aria-label="menu"
            aria-expanded="false"
          >
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
          <div class="navbar-start">
            <a class="navbar-item" href="{% url 'main:about' %}">
              About
            </a>
            <!-- <a class="navbar-item" href="{% url 'main:index' %}">
                        Home
                    </a> -->

            {% if user.is_authenticated %}
            <a class="navbar-item" href="{% url 'main:profile' %}">
              Profile
            </a>
            {% endif %}
          </div>

          <div class="navbar-end">
            {% if not user.is_authenticated %}
            <a class="navbar-item" href="{% url 'main:logout' %}">Log in</a>
            {% else %}
            <p class="navbar-item">
              User: &nbsp;<span class="has-text-weight-bold">{{ user }}</span>
            </p>
            <a class="navbar-item" href="{% url 'main:logout' %}">Log out</a>
            {% endif %}
          </div>
        </div>
      </nav>
      <section class="section">
        <div class="columns is-mobile">
          <div class="column">
            {% block content %} {% endblock %}
          </div>
        </div>
      </section>
    </div>

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(
          document.querySelectorAll(".navbar-burger"),
          0
        );

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {
          // Add a click event on each of them
          $navbarBurgers.forEach(el => {
            el.addEventListener("click", () => {
              // Get the target from the "data-target" attribute
              const target = el.dataset.target;
              const $target = document.getElementById(target);

              // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
              el.classList.toggle("is-active");
              $target.classList.toggle("is-active");
            });
          });
        }
      });
    </script>
  </body>
</html>
